<div class="container">
  <div class="row">
    <div class="col-md-offset-4 col-md-4 col-xs-offset-3 col-xs-6 users-new-container">
      <h1 class="text-center text-white">スレッド一覧</h1>
        
        <%= link_to 'スレッド新規登録', new_thread_path, class:'btn btn-success' %>
        
        <div class="thread-index">
          <% @thre.each do |t|%>
            <%= t.title %>
            <%= t.created_at %>
          <% end %>
        </div>
        
      </div>
    </div>
  </div>